README.md
boinc2docker/apps/boinc2docker/1.0/example/vm_isocontext*
boinc2docker/apps/boinc2docker/1.0/example/vboxwrapper*
backups
test

.git/modules/

boinc/clientgui/
boinc/drupal
boinc/win_build
boinc/samples/*/*
boinc/clientscr
!boinc/*/Makefile.am
!boinc/*/*/Makefile.am

