README.md
boinc2docker/apps/boinc2docker/1.0/example/vm_isocontext*
boinc2docker/apps/boinc2docker/1.0/example/vboxwrapper*
backups
test

.git/objects
.git/modules/boinc
.git/modules/html
.git/modules/*/lfs
.git/modules/boinc2docker/objects/71
.git/modules/boinc2docker/objects/a0

boinc/clientgui/
boinc/drupal
boinc/win_build
boinc/samples/*/*
boinc/clientscr
!boinc/*/Makefile.am
!boinc/*/*/Makefile.am

