[submodule "html/inc/phpmailer"]
	path = html/inc/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "apps/camb_boinc2docker/docker/develop/camb"]
	path = apps/camb_boinc2docker/docker/develop/camb
	url = https://github.com/marius311/CAMB.git
	branch = progress
    ignore = dirty
