div.container {
    max-width: 990px;
    margin: 0 auto;
}

div.content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

img {
    max-width: 100%;
    margin: 0px;
}

img.banner {
    height: auto;
}

img.rounded {
    border-radius: 10px
}

img.icon {
    max-width:none;
}


/* === Block quotes === */

blockquote {
    border-left: 4px solid #58555e;
    background: transparent;
    padding-left: 10px;
    margin-bottom: 0;
    margin-left: 10px;
    font-style: italic;
}

#blockquote.postbody {
    border-style: inset;
    border-color: white;
    background: transparent;
    padding-left: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 160px;
    font-style: oblique;
}


/* === Stuff for main page === */

#bigtext {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}

#feature {
    background-image: url(img/feature/bullet_cluster.jpg);
    text-shadow: 3px 3px 7px #000;
}

#majorlinks {
    height: 418px;
    background-image: url(img/navigation/image_of_week/img1.jpg);
}


.linkbtn {
    background: url(img/navigation/major_links/link_btn2.png) no-repeat;
    position: relative;
    width: 224px;
    height: 30px;
    font-size: 9px;
    color: #FFFFFF;
    white-space: nowrap;
    display: block;
    margin: none;
    margin-bottom: 9px;
}

.linkbtn img, td.pagehead {
    border: none;
}

.linkbtn a {
    color: #FFFFFF;
    display: block;
}

.linkbtn a:hover {
    color: #BB6699;
}

.linkbtn a:hover img {
    visibility: hidden;
}

.linkbtn span {
    position: absolute;
    right: 10px;
    font-size: 15px;
    text-shadow: 2px 2px 5px #000;
    padding-top: 4px;
}


/* === Stuff for footer === */

img.logo {
    width:80px;
    vertical-align: middle;
    border-radius: 5px;
}

#footer {
    color: #58555e;
    text-align: right;
    font-size: .8em;
    bottom: 0;
    margin-top: -50px;
}

#sponsors {
    float: right;
}


/* 
Hacky way to ensure on line-wrapping on forum posts. 
Should find a better way.
 */
td.threadline {  
    max-width: 460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.lastpost {
    white-space: nowrap;
}

td.authorcol {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
}


/* Server Status Page */
td.running { color: rgb(51, 204, 51); }
td.notrunning { color:  rgb(204, 51, 51); }
td.disabled { color: #bbb; } */
