a:link {
 /*color: #79A7A6;*/
 color: #df706b;
 text-decoration: none;
}

a:visited {
 /*color: #79A7A6;*/
 color: #d6e8f6;
 text-decoration: none;
}

a:active {
 /*color: #79A7A6;*/
 color: #df706b;
 text-decoration: none;
}

a:hover {
 color: #f0b2af;
 text-decoration: none;} 

body , table , input , select {
 font-family: Helvetica, Verdana, Arial, sans-serif;
 font-size: 1em;
 color: #888888;
 background-color: #000000;
}

/*table tr th{
border-left: 1px thin white; 
border-bottom: 1px thin white; 
}*/

body {
 background-color: #131313; 
 /*background-image: url(img/bg_texture.jpg);*/
 background-repeat: repeat-x, repeat-y; 
 color: #fefefe;
 margin-left: auto;
 margin-right: auto; 
 margin-bottom: 20px;
 margin-top: 0px; 
 border-left: 1px solid #CCCCCC; 
 border-right: 1px solid #CCCCCC; 
/* behavior: url("csshover.htc");*/
 font-size: .8em;
/* width: 801px;*/
 height: 100%;
 padding-top: 0px; 
}

table {
 background-color: transparent;
 margin-right: auto;
 margin-left: auto;
 border: none; 
}

table.pagehead{
width: 802px;
border: none; 
padding-top: 15px;
padding-bottom: 15px;  
margin: 0px;
text-align: center;
}

td.pagehead{
border: none; 
}

#pageheadtext{ 
color: #FFFFFF;
font-size: 24px;
padding-top: 5px; 
}

table.main {
 border: 1px thin white;
 width: 100%;
 background-color: transparent; 
}
th.main {
 background-color: transparent;
 font-weight: bold;
 padding: 5px;
 border: 0px;
}
td.main {
 background-color: transparent;
 font-weight: bold;
 padding: 5px;
 border: 0px;
}

th{
 font-weight: bold;
 background-color: #333333; 
 border: none;
 padding-top: 4px;
 padding-bottom: 4px;

}
th.heading {
 background-color: #555555;
 font-weight: bold;
 color: #df706b;
 spacing: 2px;
 border-bottom: 1px solid black;
 border-top: none; 
 height: 25px; 
}

td {
 background: transparent;
 color: white;
 border-bottom: 1px solid #333333;
 border-left: none; 
 border-right: none; 
 border-top: none; 
}

#forum_table td {
  border: 1px solid #ffffff;
  background: transparent;
}

/*td.bordered {
 border: 1px solid gray;
}

td.indent {
 border-left: 4px solid white;
} */

td.heading {
 background-color: transparent;
 font-weight: bold;
 padding-top: 20px;
 border: none; 
}

td.heading2 {
 background-color:transparent;
 /*font-weight: bold;*/
}

td.fieldname, fieldname_error {
 background-color: black;
 text-align: right;
 vertical-align: top;
 border: none; 
}

td.fieldvalue, fieldvalue_error {
 vertical-align: top;
 /*font-weight: bold;*/
 border: none; 
}
                          
td.category {
 background: #333333;
 padding: 5px;
}

textarea{
background-color: #000000;
border: 1px solid #222222;
color: #CCCCCC;
}

td.nav { margin-top: 10px;
 width: 500px; list-style: none; position: relative; float: left;}

tr.row0 {
    background: transparent;
    text-align: left;
}

tr.row1 {
    background: transparent;
    text-align: left;
}

tr.subtitle {
    background-color: #faf7e5;
    font-weight: bold;
}

tr.message {
    background-color:#f1f7f7;
}

input , select {
    vertical-align: middle;
	background: black;
	border: 1px solid #222222;
	color: #CCCCCC;
	cursor: pointer; 
}

/* heading */h1 { 
  font-family: Arial, Helvetica, sans-serif 
  font-size: 18px; 
  color: #FEFEFE; 
  font-weight: normal;
  margin-top: 10px;
}

/* Secondary Heading */
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FEFEFE;
	font-weight: normal;
	margin: 0px; 
	padding: 0px; 
	border: 0px; 
	
}

span.h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #FEFEFE;
	font-weight: normal;
	margin: 0px; 
	padding: 0px; 
	border: 0px; 
}

span.a{
color: #FFFFFF; 
text-decoration: none; 
}

h2 a { 
  color: #00CC33;
}

/* Secondary Highlighting */
h3 { 
  color: #df706b; 
  font-size: 12px; 
  margin-top: 0px; 
  margin-bottom: 2px; 
  font-weight: bold;
  padding-left: 20px; 
  }


/** **/
h4 { 
line-height: 16px; 
font-weight: normal; 
margin-top:0px;
}

ol.connect { 
  list-style: outside number; 
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 25px;
  padding-left: 0px;
}


.title {
 font-size: 9pt;
 font-weight: bold; 
 padding-left: 7px;
 color: #df706b;
 
}

.description {
 font-size: 80%;
 font-weight: normal;
}

.authorcol {
 width: 150px; 
 overflow: hidden;
 background: none;
 color: #999999;
}

td.subscribe{
float: left; 
width: 100%; 
padding-bottom: 2px;
margin: 0px; 
border: none; 
}

th.authorcol{
background-color: #333333; 
border-bottom: 1px solid black;
border-top: none;  
padding: none; 
height: 22px; 
color: #df706b;
}

.cellwrap{
 width: 100%;
 overflow: auto;
}

blockquote {
 border-left: 1px thin white;
 background: transparent;
 padding-left: 3px;
 padding-bottom: 0px;
 margin-bottom: 0px;
 margin-left: 10px;
 font-style: italic;
}

#blockquote.postbody {
 border-style: inset;
 border-color: white;
 background: transparent;
 padding-left: 5px;
 padding-bottom: 0px;
 margin-bottom: 0px;
 margin-left: 15px;
 margin-right: 160px;
 font-style: oblique
} 

#thread {
 width: 100%;
 table-layout: fixed;
 overflow: overflow;
 word-wrap: break-word;
}

.sigdelim {
 width: 60%;
 height: 1px;
 background-color: black;
 color: black;
 border: 0;
 margin-right: 100%;
}

td.postheader{
 background: transparent;
 border-bottom: 1px thin white;
 color: #a37775;
 border-left: none;
 border-right: none;
}

td.postbody {
 font-size: 9pt;
 color: #CCCCCC;
 background-color: transparent;
}

td.postfooter{
 background: transparent;
 border-top: 1px thin white;
 border-right: none;
 color: #df706b;
}

tr.helpdeskseperator{
 height: 10pt;
}

tr.postseperator{
 background-color: none; 
 background-image: url(img/post_divider.png);
 height: 12px; 
 background-repeat: repeat-x; 
 border-bottom: 1px solid #CCCCCC;
}

td.threadline {
 text-align:left;
 padding:0px; 
 background: transparent;
}

span.note{
 font-weight: normal;
 font-size: 0.9em;
}
span.news_date {
 color: #df706b;
 font-weight: bold;
 font-size: 0.9em;
}

span.news_title{
color: #e7a9a7; 
}

span.{
font-size: 10px; 
padding-left: 5px;
margin-top: 10px;  
}

.code {
 font-family: "Consolas", "Courier New", courier, monospace;
 display: block;
 margin-left: 5em;
 border-left: 3px solid #ccaaaa; 
 padding-left: 1em;
 white-space: nowrap;
 overflow: auto;
 color: yellow;
}

* html body .code {
 /* IE hack */
 white-space: normal;
}

#news{
 width: 349px; 
 height: 100%;
 left: 450px; 
 top: 480px; 
 padding-top: 20px; 
 }

#spacer{
width: 349px; 
height: 100%; 
}

#news h2{ 
 font-size: 18px; 
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 color: #F4F4F4;
 padding-left: 10px;
}

#uotd h2, #mainnav h2 {
 font-size: 18px; 
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 color: #F4F4F4;

}

#news h3 {
 color: white;
 font-size: 1em;
 margin-bottom: 2px;
}

#news a:link {
}

#news a:visited {
}

#news a:active {
}

#news a:hover {
}

#news p {
 margin-top: 0px;
 padding-right: 10px; 
 padding-left: 10px;
 font-color: #CCCCCC;
}

#uotd {
 color: white;
 width: 349px;
 height: 155px;
 border-bottom: 1px solid #CCCCCC;  
 padding-top: 20px; 
 padding-left: 3px; 
 margin: 0px; 
 overflow: hidden;
}

#feature{
background-image: url(img/feature/bullet_cluster.jpg);
width: 445px; 
height: 450px;
text-shadow: 2px 2px 5px #000;
padding-left: 5px;
padding-top: 10px;  
padding-bottom: 0px; 
margin: 0px; 
}

.featuretext{
width: 320px; 
font-size: 15px; 
color: #FFFFFF; 
padding-top: 10px; 
padding-left: 2px; 
}

.smalltext {
 font-size: 1.0em;
}

.infotext{
font-size: 10px; 
font-family:Arial, Helvetica, sans-serif;
text-align: center; 
color: #CCCCCC; 
}

.error {
 color: #ff0000;
 font-weight: bold;
 font-size: 1.1em;
}

.notice {
 color: #d6e8f6;
 font-weight: bold;
 font-size: 1.1em;
}


/* drop down */.
.dropdown { 
  display: none; 
  z-index: 9999;
  margin: 0px;
  padding: 0px;
}

.dropdown ul {  
  position: absolute; 
  padding: 0px; 
  margin: 0px; 
  bgcolor: transparent;
  background: none; 
  border-right: 1px solid #CCCCCC; 
  width: 135px; 
  text-transform: none; 
  float: none; 
  display: block; 
  list-style: none;
  font-size: 0.8em;
}

.dropdown ul li a { 
  display: block; 
  padding: 6px 6px 6px 8px;
  text-decoration: none;  
  color: #fff;  
  bgcolor: transparent; 
  background: none; 
  height: 1%; 
  border-bottom: 1px solid #CCCCCC;
}

.dropdown ul li a:hover {
  bgcolor: transparent;
  background: none; 
}

/* Navigation */
#navBar { 
  height: 110px; 
  width: 490px;
  margin-left: 10px; 
  position: relative; 
  float: left;
}

#nav { 
  padding-left: 0px;
  margin: 0px;
  margin-top: 11px; 
  list-style: none; 
  position: relative; 
  float: left;
}

#nav ul { 
  padding-left: 0px; 
  margin: 0px; 
  list-style: none; 
  float: left;
}

#nav li { 
  float: left; 
  position: relative; 
  list-style: none;
}

#nav li a {
  display: block;	
  /*padding: 6px 6px 6px 8px;*/
  text-decoration: none; 
  color: #fff; 
  background: #89BA87;
}

#nav li a:hover {
  background: #89BA87;
}

#nav .baseNav  {
  padding: 0; 
  margin: 0; 
  background: 
  transparent none;
}

#navHome { 
  position: relative; 
  margin-top: 14px; 
  float: right; 
  padding-right: 30px;
}

img.transparent { 
  behavior: url("pngbehavior.htc");
}

table#topnav {
  margin-left: auto;
  margin-right: auto;
}

  #footer{
  margin-left: auto;
  margin-right: auto;
  width: 796px;
  height: 180px;
  text-align: right;
  font-size: .8em; 
  bottom: 0px; 
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC; 
  padding-bottom: 10px;
  padding-right: 5px; 
  padding-top: 5px;
 } 
  
  #sponsors{
  width: 500; 
  float: left; 
  }
