#navmenu ul, #navmenu ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#navmenu {
  padding-right: 20px;
}

#navmenu ul {
  margin-top: 42px;
  float: right;
}

#navmenu ol {
  border-left: 1px solid #799193;
}

#navmenu ul li, #navmenu ol li {
  position: relative;
  float: left;
  text-align: center;
  margin: 0px;
}

#navmenu ol li {
  border-bottom: 1px solid #799193;
}

#navmenu li ol {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  background: #ffffff;
}

#navmenu li ol li {
  float: none;
}


#navmenu ul li a {
  float: none;
  display: block;
  text-decoration: none;
  color: #59aaa8;
  background: #ffffff;
  padding: 0px;
  padding-left: 8px;
  padding-right: 14px;
  border-left: 1px solid #799193;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: .95em;
  font-weight: bold;
  height: 30px;
}

#navmenu ol li a {
  display: block;
  text-decoration: none;
  text-align: left;
  color: #ffffff;
  background: #0F8481;
  margin: 0px;
  padding: 6px 6px 6px 8px;
  height: auto;
  font-weight: normal;
  font-size: .8em;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  width: 135px;
}

/* Hides from IE5-mac \*/
* html #navmenu ul li { float: left; }
* html #navmenu ul li a { width: 1%; }
* html #navmenu ul li a.large { width: 20%; }

* html #navmenu ol li { float: none; }
* html #navmenu ol li a { width: 135px; }
/* End hide from IE5-mac */

#navmenu ul li:hover a, #navmenu ul li.over a {
  color: #75c63f;
}

#navmenu ul li:hover ol li a, #navmenu ul li.over ol li a {
  color: #ffffff;
}

#navmenu ul li:hover ol li:hover a, #navmenu ul li.over ol li.over a {
  background: #75c63f;
  color: #ffffff;
}

#navmenu li:hover ol, #navmenu li.over ol {
  display: block;
}


div#container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
