   <div id="footer"><a href=http://www.cosmologyathome.org/>Return to Cosmology@Home main page</a>
<br><br>Copyright &copy; 2015 Department of Astronomy at the <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a><br/>
   
If you have any questions or comments regarding the content of this site, please contact the <a href='http://cosmos.astro.illinois.edu/pBen.php?style=explore' target='_new'>Ben Wandelt</a><br/>
This material is based upon work supported by the National Science Foundation under Grant No. AST0507676.<br/>
Links to external sites are provided as a convenience to our users. The Department of Astronomy does not control or endorse the content of external sites.<br\>
Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.<br/>
We would like to thank both NASA and the Planck project for their support of Cosmology@Home</br> 
	<div id='sponsors'>
<a href='http://www.nsf.gov' target='_blank'><img src='/img/nsf_watermark.png' alt='nsf' align='left' border='0'></a>
<a href='http://www.nasa.gov' target='_blank'><img src='/img/nasa-logo.gif' alt='nasa' border='0'></a>
<a href='http://planck.caltech.edu' target='_blank'><img src='/img/planck-logo.gif' alt='planck' border='0'></a>
<a href='http://www.jpl.nasa.gov' target='_blank'><img src='/img/JPLLogo.gif' alt='JPL' border='0'></a>
<a href='http://boinc.berkeley.edu' target='_blank'><img src='/img/boinc_watermark.png' alt='boinc' border='0'></a></div></div>

<!--</body>
	</html> -->
  
