  <div id='container'>	
   <!-- Navigation -->
   <div id='topmatter'>
    <a href='http://www.cosmologyathome.org'><img src='/img/banner.jpg' border='0' height='200px' width='800px' padding='0px'/></a>
      <div id='navmenu'>
        <ul id='nav_ul'>
          <li><a href='#'>JOIN</a>
            <ol>
              <li><a href='/info.php'>How To Join</a></li>
              <li><a href='http://boinc.berkeley.edu/download.php' target='_new'>Download BOINC</a></li>
            </ol>
          </li>
          <li><a href='#'>RETURNING PARTICIPANTS</a>
            <ol>
              <li><a href='/home.php'>Your Account</a></li>
              <li><a href='/team.php'>Teams</a></li>
              <li><a href='/apps.php'>Applications</a></li>
              <li><a href='/server_status.php'>Server Status</a></li>
            </ol>
          </li>
          <li><a href='#'>COMMUNITY</a>
            <ol>
	      <li><a href='/wandelt_letter.php'>Ben Wandelt Welcome Letter</a></li>
	      <li><a href='/blog/index.html'>C@H Blog</a></li>
              <li><a href='/forum_index.php'>Message Boards</a></li>
              <li><a href='/downloads.php'>Desktop Backgrounds</a></li>
              <li><a href='/profile_menu.php'>Participant Profiles</a></li>
            </ol>
          </li>
          <li><a href='#'>STATISTICS</a>
            <ol>
              <li><a href='/top_users.php'>Top Participants</a></li>
              <li><a href='/top_hosts.php'>Top Computers</a></li>
              <li><a href='/top_teams.php'>Top Teams</a></li>
              <li><a href='/stats.php'>Other Statistics</a></li>
            </ol>
          </li>
          <li><a href='http://cosmos.astro.illinois.edu'>BEN WANDELT</a></li>
        </ul>
      </div>
   </div>
  
