
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    
<html>
  <head>
    <title>Letter to Cosmology@Home users</title>
    <link rel="stylesheet" type="text/css" href="cosmologyathome.css">
    <link rel="alternate" type="application/rss+xml" title="Cosmology@Home RSS 2.0" href="http://www.cosmologyathome.org/rss_main.php">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="newstyles.css"/>    <script type="text/javascript" src="drop_down.js"></script>
    <!--[if lte IE 6]>
      <script type="text/javascript" src="supersleight-min.js"></script>
    <![endif]-->
  </head>
  <body bgcolor="#ffffff"><div id='container'>	
   <!-- Navigation -->
   <div id='topmatter'>
    <a href='http://www.cosmologyathome.org'><img src='/img/banner.jpg' border='0' height='200px' width='800px' padding='0px'/></a>
      <div id='navmenu'>
        <ul id='nav_ul'>
          <li><a href='#'>JOIN</a>
            <ol>
              <li><a href='/info.php'>How To Join</a></li>
              <li><a href='http://boinc.berkeley.edu/download.php' target='_new'>Download BOINC</a></li>
            </ol>
          </li>
          <li><a href='#'>RETURNING PARTICIPANTS</a>
            <ol>
              <li><a href='/home.php'>Your Account</a></li>
              <li><a href='/team.php'>Teams</a></li>
              <li><a href='/apps.php'>Applications</a></li>
              <li><a href='/server_status.php'>Server Status</a></li>
            </ol>
          </li>
          <li><a href='#'>COMMUNITY</a>
            <ol>
	      <li><a href='/wandelt_letter.php'>Ben Wandelt Welcome Letter</a></li>
	      <li><a href='/blog.php'>C@H Blog</a></li>
              <li><a href='/forum_index.php'>Message Boards</a></li>
              <li><a href='/downloads.php'>Desktop Backgrounds</a></li>
              <li><a href='/profile_menu.php'>Participant Profiles</a></li>
            </ol>
          </li>
          <li><a href='#'>STATISTICS</a>
            <ol>
              <li><a href='/top_users.php'>Top Participants</a></li>
              <li><a href='/top_hosts.php'>Top Computers</a></li>
              <li><a href='/top_teams.php'>Top Teams</a></li>
              <li><a href='/stats.php'>Other Statistics</a></li>
            </ol>
          </li>
          <li><a href='http://cosmos.astro.illinois.edu'>BEN WANDELT</a></li>
        </ul>
      </div>
   </div>
  

          <div id="footer"><a href=http://www.cosmologyathome.org/>Return to Cosmology@Home main page</a>
<br><br>Copyright &copy; 2015 Department of Astronomy at the <a href="http://www.illinois.edu">University of Illinois at Urbana-Champaign</a><br/>
   
If you have any questions or comments regarding the content of this site, please contact the <a href='http://cosmos.astro.illinois.edu/pBen.php?style=explore' target='_new'>Ben Wandelt</a><br/>
This material is based upon work supported by the National Science Foundation under Grant No. AST0507676.<br/>
Links to external sites are provided as a convenience to our users. The Department of Astronomy does not control or endorse the content of external sites.<br\>
Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.<br/>
We would like to thank both NASA and the Planck project for their support of Cosmology@Home</br> 
	<div id='sponsors'>
<a href='http://www.nsf.gov' target='_blank'><img src='/img/nsf_watermark.png' alt='nsf' align='left' border='0'></a>
<a href='http://www.nasa.gov' target='_blank'><img src='img/nasa-logo.gif' alt='nasa' border='0'></a>
<a href='http://planck.caltech.edu' target='_blank'><img src='/img/planck-logo.gif' alt='planck' border='0'></a>
<a href='http://www.jpl.nasa.gov' target='_blank'><img src='/img/JPLLogo.gif' alt='JPL' border='0'></a>
<a href='http://boinc.berkeley.edu' target='_blank'><img src='/img/boinc_watermark.png' alt='boinc' border='0'></a></div></div></body>
        </html>
    
