
    <link rel="stylesheet" type="text/css" href="http://www.cosmologyathome.org/cosmologyathome.css">
    <link rel="alternate" type="application/rss+xml" title="Cosmology@Home RSS 2.0" href="http://www.cosmologyathome.org/rss_main.php">
    <link rel="stylesheet" type="text/css" href="http://www.cosmologyathome.org/style.css">
    <link rel="stylesheet" type="text/css" href="http://www.cosmologyathome.org/newstyles.css">    <script type="text/javascript" src="http://www.cosmologyathome.org/drop_down.js"></script>
    <!--[if lte IE 6]>
      <script type="text/javascript" src="supersleight-min.js"></script>
    <![endif]-->

